/*--------------------------------------*/
/* * CARD  */
/*--------------------------------------*/

.card {
  width: 5rem;
  height: 7rem;
  min-width: 5rem;
  min-height: 7rem;
  color: var(--main-white);
  background-color: rgb(24, 24, 24);
  border: 0.3rem solid rgb(255, 255, 255);
  font-size: 1rem;

  border-radius: 0.6rem;
  margin-right: 0.6rem;
  box-shadow: var(--card-shadow);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: all 0.7s ease-in-out;
  flex-wrap: nowrap;
}

.card__circle {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  transform: skew(-30deg);
  top: 0rem;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
}

.wild {
  display: block;
  height: 47%;
  width: 47%;
  background-color: black;
  color: var(--main-black-color);
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card__value--top {
  position: absolute;
  top: 0;
  left: 0.2rem;
}

.card__value--main {
  font-size: 3em;
  color: var(--main-black-color);
  z-index: 1;
  font-style: italic;
}

.card__value--bottom {
  position: absolute;
  bottom: 0rem;
  right: 0.2rem;
  transform: rotate(180deg);
}

.draw__card {
  width: 8rem;
  min-width: 8rem;
  height: 11rem;
  min-height: 11rem;
  position: absolute;
}

.userCard {
  width: 7rem;
  min-width: 7rem;
  height: 9rem;
  min-height: 9rem;
  cursor: pointer;
  transition: all 0.4s;
  flex-wrap: nowrap;
}

/* .card:nth-child(15) {
    transform: translatex(-950px);
  }
  
  .draw__card:nth-child(2) {
    transform: translateY(-6px);
  } */

.userCard:hover {
  transform: translateY(-1rem);
}

.discard__card {
  width: 12rem;
  height: 17rem;
}

.discard__card .card__value {
  font-size: 2rem;
}
.discard__card .card__value--main {
  font-size: 6.5rem;
}

.match {
  animation: blinking 0.8s 5;
}

@keyframes blinking {
  0% {
    box-shadow: none;
  }
  49% {
    box-shadow: 0 0 6px 5px rgb(255, 245, 105);
  }
  50% {
    box-shadow: 0 0 6px 5px rgb(255, 245, 105);
  }
  99% {
    box-shadow: 0 0 6px 5px rgb(255, 245, 105);
  }
  100% {
    box-shadow: none;
  }
}
