/*--------------------------------------*/
/* *  CHOOSE TURN PAGE  */
/*--------------------------------------*/
.pop-up {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: var(--main-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pop-up__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 42rem;
  padding: 1rem;

  box-shadow: 1px 14px 4px rgba(85, 49, 49, 0.5);
  border-radius: 1rem;
}

.chooseTurn__btn {
  background: red;
  padding: 1rem;
  font-size: 1.5rem;
}

.choose__player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choose__player > p {
  font-size: 2rem;
}

.chooseBox {
  height: 17rem;
  width: 12rem;
  border-radius: 1rem;

  background: rgba(255, 234, 234, 0.438);
  box-shadow: inset 0 0 14px 0px rgba(253, 114, 114, 0.5);
}

.choose__msg {
  font-family: 'Cairo', sans-serif;
  font-size: 1.5rem;
  color: var(--hand-color);
  text-align: center;
}

/*--------------------------------------*/
/* *  GAME-OVER  */
/*--------------------------------------*/
.gameOver__page {
  background: rgba(245, 245, 245, 0.534);
}

.gameOver__btn {
  color: var(--main-black-color);
  font-size: 2rem;
}

.gameOver__container {
  background-color: var(--main-white);
}

.gameOver__texts {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 4rem;
  /* Fallback: Set a background color. */
  background-color: #ca4246;

  /* Create the gradient. */
  background-image: linear-gradient(
    45deg,
    #ca4246 16.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );

  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

#gameOver__winner {
}

/* ////////////////////////////////////////////// */
/*  * BUTTON */
/* ////////////////////////////////////////////// */
.draw__btn {
  height: 3rem;
  width: 7rem;
  margin-bottom: 2rem;
  background-color: var(--btn-color);
  border: none;
  box-shadow: 1px 3px 3px rgb(73, 16, 16);
  font-size: 1rem;
}

.reset__btn {
  color: grey;
  background-color: black;
  padding: 1rem;
  margin-right: 0.2rem;

  position: absolute;
  top: 0.1rem;
  right: 0.2rem;
}

@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}
