@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;900&display=swap');

:root {
  --main-white: rgb(236, 236, 236);
  --board-color: linear-gradient(to top, #9b8c75, #c4aa9b);
  --hand-color: #192b22;
  --turn-shadow: 1px 9px 27px 30px rgb(255, 238, 181);
  --turn: rgb(253, 249, 184);
  --skip: rgb(131, 0, 0);
  --skip-shadow: 1px 2px 6px 2px rgb(146, 0, 0);
  --card-shadow: 0 0.18rem 0.2rem rgba(0, 0, 0, 0.521),
    0 0.18rem 0.2rem rgba(0, 0, 0, 0.24);
  --board-shadow: 0 2px 4px 2px rgba(27, 24, 24, 0.9);
  --discard--color: rgb(128, 60, 21);
  --font-color: rgb(211, 211, 211);
  --red: rgb(230, 0, 0);
  --yellow: rgb(255, 208, 0);
  --green: rgb(7, 170, 56);
  --blue: rgb(0, 35, 230);
  --btn-color: rgb(221, 77, 51);
  --btn-disabled: rgb(156, 107, 99);
  --table: rgb(48, 22, 22);
  --main-black-color: rgb(26, 26, 26);
}

* {
  margin: 0;
  padding: 0;
  border: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;

  font-size: 13px;
  padding: 0 0 2rem 0;
  background-color: var(--main-white);
  font-family: 'Montserrat', sans-serif;
  perspective: 400px;
  background: linear-gradient(#eeeeee, #747474);
  color: var(--main-black-color);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  display: block;
}

button {
  cursor: pointer;
  border-radius: 0.4rem;
  text-transform: uppercase;
  color: var(--main-white);
}
button:active {
  transform: scale(0.9);
}

/* //////////////////////////////////////////////////////////// */
/* *  CHOOSE TURN PAGE  */
/* //////////////////////////////////////////////////////////// */
.pop-up {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: var(--main-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pop-up__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 42rem;
  padding: 1rem;

  box-shadow: 1px 14px 4px rgba(85, 49, 49, 0.5);
  border-radius: 1rem;
}

.chooseTurn__btn {
  background: red;
  padding: 1rem;
  font-size: 1.5rem;
}

.choose__player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choose__player > p {
  font-size: 2rem;
}

.chooseBox {
  height: 17rem;
  width: 12rem;
  border-radius: 1rem;

  background: rgba(255, 234, 234, 0.438);
  box-shadow: inset 0 0 14px 0px rgba(253, 114, 114, 0.5);
}

.choose__msg {
  font-family: 'Cairo', sans-serif;
  font-size: 1.5rem;
  color: var(--hand-color);
  text-align: center;
}

/* //////////////////////////////////////////////////////////// */
/* *  GAME-OVER  */
/* //////////////////////////////////////////////////////////// */
.gameOver__page {
  background: rgba(245, 245, 245, 0.534);
}

.gameOver__btn {
  color: var(--main-black-color);
  font-size: 2rem;
}

.gameOver__container {
  font-size: 70rem;
}

/* //////////////////////////////////////////////////////////// */
/* *  BOARD  */
/* //////////////////////////////////////////////////////////// */
.board {
  position: relative;

  min-width: 80rem;
  background: var(--board-color);
  height: 100%;
  padding: 1rem 1.3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;

  overflow: hidden;
  transform: rotateX(10deg);
  /* border: 1.5rem solid var(--table);
  border-right: 5rem solid var(--table);
  border-left: 5rem solid var(--table); */
}

.side {
  width: 12%;
  position: relative;
}

.middle {
  padding: 2rem 0.3rem;
  width: 75%;
  width: 47rem;
  margin: 1.2rem;
}

.piles {
  display: flex;
  height: 25rem;
  background-color: var(--discard--color);
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 1px 1px 1px rgb(63, 41, 78);
}

.pile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.draw {
  width: 40%;
  flex-direction: column;
  justify-content: center;
}

.draw__cards {
  height: 12rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.draw__remain-num {
  color: var(--font-color);
  margin-top: 0.6rem;
}

.discard {
  width: 60%;
  margin-left: 2rem;
}

/* //////////////////////////////////////////////////////////// */
/* * HAND  */
/* //////////////////////////////////////////////////////////// */

.hand {
  width: 38rem;
  height: 9rem;
  background: var(--hand-color);
  overflow-x: hidden;
  padding: 0 1rem;
  border-radius: 0.4rem;
  box-shadow: 0 -2px 1px 3px rgb(13, 32, 26);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.userHand {
  width: 100%;
  height: 15rem;
}

.pc1Hand {
  transform: rotate(90deg);
}

.pc2Hand {
  transform: rotate(270deg);
}
/* //////////////////////////////////////////////////// */
/* * CARD  */
/* /////////////////////////////////////////////////// */

.card {
  width: 5rem;
  height: 7rem;
  min-width: 5rem;
  min-height: 7rem;
  color: var(--main-white);
  background-color: rgb(24, 24, 24);
  border: 0.3rem solid rgb(255, 255, 255);
  font-size: 1rem;

  border-radius: 0.6rem;
  margin-right: 0.6rem;
  box-shadow: var(--card-shadow);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: all 0.7s ease-in-out;
  flex-wrap: nowrap;
}

.card__circle {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  transform: skew(-30deg);
  top: 0rem;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
}

.wild {
  display: block;
  height: 47%;
  width: 47%;
  background-color: black;
  color: var(--main-black-color);
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card__value--top {
  position: absolute;
  top: 0;
  left: 0.2rem;
}

.card__value--main {
  font-size: 3em;
  color: var(--main-black-color);
  z-index: 1;
  font-style: italic;
}

.card__value--bottom {
  position: absolute;
  bottom: 0rem;
  right: 0.2rem;
  transform: rotate(180deg);
}

.draw__card {
  width: 8rem;
  min-width: 8rem;
  height: 11rem;
  min-height: 11rem;
  position: absolute;
}

.userCard {
  width: 8rem;
  min-width: 8rem;
  height: 11rem;
  min-height: 11rem;
  cursor: pointer;
  transition: all 0.4s;
  flex-wrap: nowrap;
}

/* .card:nth-child(15) {
  transform: translatex(-950px);
}

.draw__card:nth-child(2) {
  transform: translateY(-6px);
} */

.userCard:hover {
  transform: translateY(-1rem);
}

.discard__card {
  width: 12rem;
  height: 17rem;
}

.discard__card .card__value {
  font-size: 2rem;
}
.discard__card .card__value--main {
  font-size: 6.5rem;
}

/* ////////////////////////////////////////////// */
/*  * BUTTON */
/* ////////////////////////////////////////////// */
.draw__btn {
  height: 3rem;
  width: 7rem;
  margin-bottom: 2rem;
  background-color: var(--btn-color);
  border: none;
  box-shadow: 1px 3px 3px rgb(73, 16, 16);
  font-size: 1rem;
}

.reset__btn {
  color: grey;
  background-color: black;
  padding: 1rem;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
}

/* ////////////////////////////////////////////// */
/*  * EXTRA */
/* ////////////////////////////////////////////// */

.changeColorPage {
  height: 100%;
  width: 100%;
  background-color: rgba(59, 59, 59, 0.568);
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.changeModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem;
  box-shadow: var(--board-shadow);
  border-radius: 1rem;
  color: var(--main-black-color);
}

.colorBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 20rem;
  width: 40rem;

  margin-top: 1rem;
  cursor: pointer;
}

#red {
  background-color: var(--red);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#yellow {
  background-color: var(--yellow);
}

#green {
  background-color: var(--green);
}

#blue {
  background-color: var(--blue);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.transparent {
  opacity: 0;
}

.none {
  display: none;
}

.turn {
  box-shadow: var(--turn-shadow);
  border: 8px solid var(--turn);
}

.skip {
  border: rgb(228, 34, 0) solid 20px;
}

.skip::after {
  content: 'skip';
  background: rgba(212, 212, 212, 0.637);

  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(107, 21, 6);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-family: 'Cairo', sans-serif;
  z-index: 20;
}

.faceDown {
  background-color: darkred;
  border: 2px solid rgb(255, 255, 148);
}
/* //////////////////////////////////////////// */
/*  * ANIMATION*/
/* //////////////////////////////////////////// */

@-webkit-keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
