@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
  --main-white: rgb(236, 236, 236);
  --board-color: rgb(180, 180, 180);
  --hand-color: rgb(59, 75, 32);
  --turn-shadow: 1px 2px 6px 20px rgb(255, 238, 181);
  --card-shadow: 0 1px 3px rgba(0, 0, 0, 0.521), 0 1px 2px rgba(0, 0, 0, 0.24);
  --board-shadow: 0 2px 4px 2px rgba(139, 115, 115, 0.9);
  --discard--color: rgb(59, 38, 38);
  --font-color: rgb(211, 211, 211);
  --red: rgb(230, 0, 0);
  --yellow: rgb(255, 208, 0);
  --green: rgb(7, 170, 56);
  --blue: rgb(0, 35, 230);
  --btn-color: rgb(221, 77, 51);
  --btn-disabled: rgb(156, 107, 99);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  padding: 2rem;
  background-color: var(--main-white);
  font-family: 'Montserrat', sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  display: block;
}

button {
  cursor: pointer;
  border-radius: 0.4rem;
  text-transform: uppercase;
  color: var(--main-white);
}
button:active {
  transform: scale(0.9);
}

/* //////////////////////////////////////////////////////////// */
/* *  CHOOSE TURN PAGE  */
/* //////////////////////////////////////////////////////////// */
.choose__page {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--main-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.choose__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 42rem;
  padding: 1rem;
  box-shadow: var(--board-shadow);
  border-radius: 1rem;
}

.choose__player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choose__player > p {
  font-size: 2rem;
}

.chooseBox {
  height: 17rem;
  width: 12rem;
  border-radius: 1rem;
  background-color: var(--board-color);
}

.choose__msg {
  font-size: 1.5rem;
  color: var(--hand-color);
  text-align: center;
}

/* //////////////////////////////////////////////////////////// */
/* *  BOARD  */
/* //////////////////////////////////////////////////////////// */
.board {
  position: relative;
  max-width: 100rem;
  background-color: var(--board-color);
  height: 100%;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  box-shadow: var(--board-shadow);
  overflow-x: hidden;
}

.side {
  width: 20%;
  position: relative;
}

.middle {
  padding: 2rem 0.3rem;
  width: 80%;
}

.piles {
  display: flex;
  height: 25rem;
  background-color: var(--discard--color);
  width: 100%;
  margin-bottom: 1rem;
}

.pile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.draw {
  width: 40%;
  flex-direction: column;
}

.draw__cards {
  height: 12rem;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.draw__remain-num {
  color: var(--font-color);
  margin-top: 0.2rem;
}

.discard {
  width: 60%;
  margin-left: 2rem;
}

/* //////////////////////////////////////////////////////////// */
/* * HAND  */
/* //////////////////////////////////////////////////////////// */

.hand {
  width: 41.5rem;
  height: 9rem;
  background-color: var(--hand-color);
  overflow-x: auto;
  padding: 0 1rem;
  border-radius: 0.4rem;
  box-shadow: 1px 1px 1px 1px rgb(92, 58, 58);

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.userHand {
  width: 100%;
  height: 15rem;
}

.pc1Hand {
  position: absolute;
  transform: rotate(90deg);
}

.pc2Hand {
  position: absolute;
  transform: rotate(270deg);
}
/* //////////////////////////////////////////////////// */
/* * CARD  */
/* /////////////////////////////////////////////////// */

.card {
  width: 5rem;
  height: 7rem;

  color: var(--main-white);
  background-color: rgb(24, 24, 24);
  border: 0.3rem solid rgb(255, 255, 255);
  font-size: 1rem;

  border-radius: 0.6rem;
  margin-right: 0.6rem;
  box-shadow: var(--card-shadow);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.card__circle {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  transform: skew(-30deg);
  top: 0rem;
  bottom: 0;
}

.wild {
  display: block;
  height: 47%;
  width: 47%;
  background-color: black;
  color: black;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card__value--top {
  position: absolute;
  top: 0;
  left: 0.2rem;
}

.card__value--main {
  font-size: 3em;
  color: black;
  z-index: 1;
  font-style: italic;
}

.card__value--bottom {
  position: absolute;
  bottom: 0rem;
  right: 0.2rem;
  transform: rotate(180deg);
}

.draw__card {
  width: 8rem;
  height: 12rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.userCard {
  width: 8rem;
  height: 11rem;
  cursor: pointer;
  transition: all 0.4s;
}

.userCard:hover {
  transform: translateY(-1rem);
}

.discard__card {
  width: 12rem;
  height: 17rem;
}

.discard__card .card__value {
  font-size: 2rem;
}
.discard__card .card__value--main {
  font-size: 6.5rem;
}

/* ////////////////////////////////////////////// */
/*  * BUTTON */
/* ////////////////////////////////////////////// */
.draw__btn {
  height: 3rem;
  width: 7rem;
  margin-bottom: 2rem;
  background-color: var(--btn-color);
  border: none;
  box-shadow: 1px 3px 3px rgb(73, 16, 16);
  font-size: 1rem;
}

.reset__btn {
  color: grey;
  background-color: black;
  padding: 1rem;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
}

/* ////////////////////////////////////////////// */
/*  * EXTRA */
/* ////////////////////////////////////////////// */

.changeColorPage {
  height: 100%;
  width: 100%;
  background-color: rgba(71, 69, 69, 0.568);
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.changeModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem;
  box-shadow: var(--board-shadow);
  border-radius: 1rem;
}

.colorBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 20rem;
  width: 40rem;

  margin-top: 1rem;
  cursor: pointer;
}

#red {
  background-color: var(--red);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#yellow {
  background-color: var(--yellow);
}

#green {
  background-color: var(--green);
}

#blue {
  background-color: var(--blue);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.transparent {
  opacity: 0;
}

.none {
  display: none;
}

.turn {
  box-shadow: var(--turn-shadow);
  border: 10px solid var(--yellow);
}

.faceDown {
  background-color: darkred;
  border: 2px solid rgb(255, 255, 148);
}
/* //////////////////////////////////////////// */
/*  * ANIMATION*/
/* //////////////////////////////////////////// */
/* ----------------------------------------------
 * Generated by Animista on 2021-6-13 14:20:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-vertical-right
 * ----------------------------------------
 */
@-webkit-keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
