@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
  --main-white: rgb(236, 236, 236);
  --board-color: rgb(102, 71, 13);
  --hand-color: rgb(59, 75, 32);
  --turn-shadow: 1px 2px 20px 20px rgb(255, 238, 181);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 2rem;
  background-color: var(--main-white);
  font-family: 'Montserrat', sans-serif;
}

div {
  display: block;
}

button {
  cursor: pointer;
  border-radius: 0.4rem;
  text-transform: uppercase;
  color: var(--main-white);
}
button:active {
  transform: scale(0.9);
}

/* //////////////////////////////////////////////////////////// */
/* *  BOARD  */
/* //////////////////////////////////////////////////////////// */
.board {
  position: relative;
  max-width: 100rem;
  background-color: var(--board-color);
  height: 100%;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.side {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.piles {
  display: flex;
  height: 20rem;
}

.draw {
  background-color: darkgrey;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.draw__btn {
  height: 3rem;
  width: 7rem;
  margin-bottom: 2rem;
  background-color: rgb(221, 77, 51);
  border: rgb(192, 76, 55) 1px solid;
  box-shadow: 1px 3px 3px rgb(73, 16, 16);
  font-size: 1rem;
}

.draw__cards {
  height: 12rem;
  width: 100%;

  position: relative;
  display: flex;
  justify-content: center;
}

.discard {
  background-color: darkgoldenrod;
  width: 38rem;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* //////////////////////////////////////////////////////////// */
/* * HAND  */
/* //////////////////////////////////////////////////////////// */

.hand {
  width: 42rem;
  height: 10rem;
  background-color: var(--hand-color);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  padding: 0 1rem;

  box-shadow: 0.1rem 0.4rem 0.1rem rgb(92, 58, 58);
}

.userHand {
  width: 60rem;
  height: 13rem;
}

.pc1Hand {
  position: absolute;
  transform: rotate(90deg);
}

.pc2Hand {
  position: absolute;
  transform: rotate(270deg);
}
/* //////////////////////////////////////////////////////////// */
/* * CARD  */
/* //////////////////////////////////////////////////////////// */
.card {
  width: 5.7rem;
  height: 8rem;
  background-color: var(--main-white);

  border-radius: 0.13rem;
  margin-right: 0.6rem;
  box-shadow: 0.3rem 0.3rem 0.2rem rgba(34, 34, 34, 0.815);
  flex-wrap: nowrap;
}

.draw__card {
  width: 8rem;
  height: 12rem;
  position: absolute;
}

.userCard {
  width: 8rem;
  height: 12rem;
  cursor: pointer;
}

.discard__card {
  width: 12rem;
  height: 17rem;
}

/* ////////////////////////////////////////////// */
/*  EXTRA */
/* ////////////////////////////////////////////// */
.transparent {
  opacity: 0;
}

.none {
  display: none;
}

.turn {
  box-shadow: var(--turn-shadow);
}
